@{
    var header = ViewData["Header"] as string ?? "Contact Form";
    var subheader = ViewData["Subheader"] as string ?? "Thanks for coming in! I'd be happy to hear from your thoughts.";
}
<section class="position-relative">
    <div class="service_shape_1 position-absolute">
        <img src="~/v2/img/service_shape_1.svg" alt="">
    </div>
    <div class="container">
        <div class="row gap_40">
            <div class="col-lg-8 offset-lg-2 mt_40">
                <h4 class="form_title font_36 semi_bold m-0">@header</h4>
                <p class="form_text">@subheader</p>
                <div id="mailResult"></div>
                <div class="height_5 height_lg_5"></div>
                <form action="#" method="post" id="mailform">
                    <input class="form-control" type="text" name="name" id="name" placeholder="First name" required="">
                    <div class="height_25 height_lg_25"></div>
                    <input class="form-control" type="email" name="recipientEmail" id="recipientEmail" placeholder="Email" required="">
                    <div class="height_25 height_lg_25"></div>
                    <div class="height_25 height_lg_25"></div>
                    <textarea class="form-control" name="body" placeholder="Your message" cols="30" rows="5" required=""></textarea>
                    <div class="height_25 height_lg_25"></div>
                    <button type="submit" class="btn style_1 primary_font"><span>Send Message</span></button>
                </form>
            </div>
        </div>
    </div>
    <div class="height_150 height_lg_80"></div>
</section>