<section class="position-relative">
    <div class="cs_service_shape_1 position-absolute">
        <img src="~/v2/img/service_shape_1.svg" alt="">
    </div>
    <div class="container">
        <div class="row cs_gap_40">
            <div class="col-lg-8 offset-lg-2 cs_mt_40">
                <h4 class="cs_form_title cs_font_36 cs_semi_bold m-0">Lets Talk</h4>
                <p class="cs_form_text">Thanks for coming in! I'd be happy to hear from your thoughts.</p>
                <div class="cs_height_5 cs_height_lg_5"></div>
                <form action="post">
                    <input class="form-control" type="text" name="f_name" id="f_name" placeholder="First name" required="">
                    <div class="cs_height_25 cs_height_lg_25"></div>
                    <input class="form-control" type="text" name="l_name" id="l_name" placeholder="Last name" required="">
                    <div class="cs_height_25 cs_height_lg_25"></div>
                    <input class="form-control" type="email" name="email" id="email" placeholder="Email" required="">
                    <div class="cs_height_25 cs_height_lg_25"></div>
                    <div class="cs_height_25 cs_height_lg_25"></div>
                    <textarea class="form-control" name="message" placeholder="Your message" cols="30" rows="5" required=""></textarea>
                    <div class="cs_height_25 cs_height_lg_25"></div>
                    <button type="submit" class="cs_btn cs_style_1 cs_primary_font"><span>Send Message</span></button>
                </form>
            </div>
        </div>
    </div>
    <div class="cs_height_150 cs_height_lg_80"></div>
</section>