@{
    var href = ViewData["Href"] as string ?? "#";
    var text = ViewData["Text"] as string ?? "Link";
}
<a class="portfolio_text_btn d-inline-flex gap_25 align-items-center font_24 accent_color semi_bold" href="@href">
    <span class="text_btn">@text</span>
    <span class="circle_btn style_1 accent_color center rounded-circle">
        <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 14L14 1" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
            <path d="M1 1H14V14" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
        <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 14L14 1" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
            <path d="M1 1H14V14" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
    </span>
</a>