<section>
    <div class="cs_height_150 cs_height_lg_80"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="cs_section_heading cs_style_1">
                    <h2 class="cs_section_title cs_font_48 cs_semi_bold">
                        Technologies
                        <span class="cs_ternary_color">&</span>
                        <span class="cs_accent_color">Frameworks</span>
                    </h2>
                    <div class="cs_height_25 cs_height_lg_10"></div>
                    <p class="mb-0">
                        I have experience working with modern web technologies across frontend, backend, and database development. Various JavaScript frameworks like React, Next.Js, and Vue.Js -- and I think they're all great!
                    </p>
                </div>
                <div class="cs_height_lg_30"></div>
            </div>
            <div class="col-md-7 offset-md-1">
                <div class="cs_brands cs_style_1 ms-3 d-flex justify-content-around">
                    <div class="cs_brand">
                        <div class="cs_brand_logo_wrap cs_brand_bg_1">
                            <img class="cs_brand_logo" src="~/images/logo/react2.png" alt="">
                        </div>
                    </div>
                    <div class="cs_brand">
                        <div class="cs_brand_logo_wrap cs_brand_bg_2">
                            <img class="cs_brand_logo" src="~/images/logo/next-js.png" alt="">
                        </div>
                    </div>
                    <div class="cs_brand">
                        <div class="cs_brand_logo_wrap cs_brand_bg_3">
                            <img class="cs_brand_logo" src="~/images/logo/vue.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="cs_height_50 cs_height_lg_30"></div>
                <div class="cs_brands cs_style_1 me-3">
                    <div class="cs_brand">
                        <div class="cs_brand_logo_wrap cs_brand_bg_4">
                            <img class="cs_brand_logo" src="~/images/logo/node-js.png" alt="">
                        </div>
                    </div>
                    <div class="cs_brand">
                        <div class="cs_brand_logo_wrap cs_brand_bg_5">
                            <img class="cs_brand_logo" src="~/images/logo/aspnetcore.png" alt="">
                        </div>
                    </div>
                    <div class="cs_brand">
                        <div class="cs_brand_logo_wrap cs_brand_bg_6">
                            <img class="cs_brand_logo" src="~/images/logo/mysql.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cs_height_150 cs_height_lg_80"></div>
</section>