@model IEnumerable<WebPortfolio.Models.WorkExperience>
<!-- Start Hero Section -->
<section class="cs_100_bg position-relative" style="background-image: url('@Url.Content("~/images/bg/ed_and_skill_bg.png")');">
    <section class="cs_hero cs_style_3 cs_center text-center">
        <div class="container">
            <div class="cs_height_45 cs_height_lg_45"></div>
            <h1 class="cs_hero_title cs_font_92 cs_bold wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s" style="visibility: visible; animation-duration: 0.8s; animation-delay: 0.2s; animation-name: fadeInUp;"><span class="cs_gradient_text">Work </span><span class="cs_gradient_border_text">Experience</span></h1>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active">Work</li>
            </ol>
        </div>
    </section>
    <!-- Start Hero Section -->
    <!-- Start Work Timeline Section -->
    <section class="container px-2 mx-auto">
        <div class="timeline">
            @for (int i = 0; i < Model.Count(); i++)
            {
                var experience = Model.ElementAt(i);
                bool isOpen = i == 0;
                var timelineItemVM = new WebPortfolio.ViewModels.TimelineItemVM
                {
                    Experience = experience,
                    IsActive = isOpen
                };
                <partial name="_TimelineItem" model="timelineItemVM" />
            }
        </div>
        <div class="cs_height_40 cs_height_lg_20"></div>
        <div class="cs_center text-center">
            <div class="cs_btns">
                <a href="~/documents/Eric Jay Catayas Resume.pdf" target="_blank" class="cs_btn cs_style_1"><span>Download Resume</span></a>
            </div>
        </div>
        <div class="cs_height_40 cs_height_lg_20"></div>
    </section>
</section>
<!-- End Work Timeline Section -->