@model IEnumerable<WebPortfolio.Models.WorkExperience>
<!-- Start Hero Section -->
<section class="filled_bg 100_bg position-relative" style="background-image: url('@Url.Content("~/images/bg/header_bg_12.png")');">
    <section class="hero style_3 center text-center">
        <div class="container">
            <div class="height_45 height_lg_45"></div>
            <h1 class="hero_title font_92 bold wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s" style="visibility: visible; animation-duration: 0.8s; animation-delay: 0.2s; animation-name: fadeInUp;"><span class="gradient_text">Work </span><span class="gradient_border_text">Experience</span></h1>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active">Work</li>
            </ol>
        </div>
    </section>
</section>
<section class="100_bg position-relative" style="background-image: url('@Url.Content("~/images/bg/header_bg_4.png")');">
    <!-- Start Hero Section -->
    <!-- Start Work Timeline Section -->
    <section class="container px-2 mx-auto">
        <div class="timeline">
            @for (int i = 0; i < Model.Count(); i++)
            {
                var experience = Model.ElementAt(i);
                bool isOpen = i == 0;
                var timelineItemVM = new WebPortfolio.ViewModels.TimelineItemVM
                {
                    Experience = experience,
                    IsActive = isOpen
                };
                <partial name="_TimelineItem" model="timelineItemVM" />
            }
        </div>
        <div class="height_40 height_lg_20"></div>
        <div class="center text-center">
            <div class="btns">
                <a href="~/documents/Eric Jay Catayas Resume.pdf" target="_blank" class="btn style_1"><span>Download Resume</span></a>
            </div>
        </div>
        <div class="height_40 height_lg_20"></div>
    </section>
</section>
<!-- End Work Timeline Section -->