@model IEnumerable<WebPortfolio.Models.Project>

<section class="hero style_3 filled_bg center text-center" style="background-image: url('@Url.Content("~/images/bg/hero_bg_5.svg")');">
    <div class="container">
        <div class="height_45 height_lg_45"></div>
        <h1 class="hero_title font_92 extra_bold wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s" style="visibility: visible; animation-duration: 0.8s; animation-delay: 0.2s; animation-name: fadeInUp;"><span class="gradient_text_2">Projects</span></h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active">Projects</li>
        </ol>
    </div>
</section>
<!-- End Hero Section -->
<!-- Start Portfolio Section -->
<section class="filled_bg" style="background-image: url('@Url.Content("~/images/bg/hero_bg_2.svg")');">
    <div class="height_150 height_lg_80"></div>
    <div class="container">
        <div class="isotop isotop_col_2 has_gutter_80" style="position: relative; height: 1426.3px;">
            <div class="grid_sizer"></div>
            @foreach (var project in Model)
            {
                <partial name="_ProjectCard" model="project" />
            }
        </div>
    </div>
    <div class="height_150 height_lg_80"></div>
</section>