@model WebPortfolio.ViewModels.HomeVM

<!-- Start Hero Section -->
<section class="hero style_2">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="hero_info pr_20 pb-5">
                    <h4 class="hero_meta font_48 white_blue_text_2 semi_bold primary_font mb-0">
                        Hi! I’m<br>
                    </h4>
                    <h1 class="hero_title font_92 bold wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay="0.2s" style="visibility: visible; animation-duration: 0.8s; animation-delay: 0.2s; animation-name: fadeInLeft;"><span class="gradient_text">Eric </span><span class="gradient_border_text">Jay</span></h1>
                    <h4 class="hero_subtitle font_36 semi_bold primary_font accent_color_2">
                        Full Stack
                        <span class="accent_color">Web Developer</span>
                    </h4>
                    <p class="hero_text mb-4">
                        I’m a <span class="primary_color">Full Stack Web Developer</span> focused on designing, developing, and deploying web applications. With experience building real-world platforms using modern <span class="primary_color">JavaScript technologies</span>.


                    </p>
                    <div class="mb-4">
                        <partial name="_SocialShare" />
                    </div>
                    <div class="btns">
                        <a href="documents/Eric Jay Catayas Resume.pdf" target="_blank" class="btn style_1"><span>Resume</span></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="hero_image_box filled_bg" style="background: url('@Url.Content("~/images/bg/hero_bg_3.svg")')">
                    <div class="imagebox_img d-none d-lg-block">
                        <img src="~/images/hero/hero_2_resized.png" alt="heroImg">
                    </div>

                    <div class="imageround_wrapper d-flex justify-content-center d-block d-lg-none">
                        <div class="imageround_img">
                            <img src="~/images/hero/hero_4.png" alt="heroImg">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Hero Section -->
<!-- Start Projects Section -->
<section class="100_bg">
    <div class="height_150 height_lg_80"></div>
    <div class="container">
        <div class="isotop isotop_col_2 has_gutter_80" style="position: relative; height: 1197.5px;">
            <div class="grid_sizer"></div>
            <div class="isotop_item" style="position: absolute; left: 0%; top: 0px;">
                <div class="portfolio style_2">
                    <div class="section_heading style_1">
                        <h2 class="section_title font_48 semi_bold">
                            Project
                            <br><span class="accent_color">Highlights</span>
                        </h2>
                    </div>
                </div>
            </div>
            @foreach (var project in Model.Projects)
            {
                <partial name="_ProjectCard2" model="project" />
            }            
            <div class="isotop_item" style="position: absolute; left: 0%; top: 954.55px;">
                <div class="portfolio style_2 text-center radius_20 overflow-hidden wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s" style="visibility: hidden; animation-duration: 0.8s; animation-delay: 0.2s; animation-name: none;">
                    @{
                        ViewData["Href"] = "/projects";
                        ViewData["Text"] = "View All Projects";
                    }
                    <partial name="_NavigationLink" view-data="ViewData" />
                </div>
            </div>
        </div>
    </div>
    <div class="height_150 height_lg_80"></div>
</section>
<!-- End Projects Section -->
<!-- Start Work Experience Carousel-->
<section id="work" class="work text-center">
    <div class="container">
        <div class="section_heading style_1 text-center">
            <h2 class="section_title font_48 semi_bold">
                Work <span class="accent_color">Experience</span>
            </h2>
            <div class="height_25 height_lg_10"></div>
            <p>I began my professional journey as a <span class="primary_color">Computer Science</span> undergraduate, gaining <span class="primary_color">real work experience</span> through internships and development roles focused on full stack web development.</p>
            <div class="height_70 height_lg_40"></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="featured-carousel owl-carousel">
                    @foreach (var work in Model.WorkExperiences)
                    {
                        @await Html.PartialAsync("_CarouselItem", work)
                    }
                </div>
            </div>
        </div>
    </div>
    @{
        ViewData["Href"] = "/work";
        ViewData["Text"] = "View Work History";
    }
    <div class="height_25 height_lg_10"></div>
    <partial name="_NavigationLink" view-data="ViewData" />
    <div class="height_40 height_lg_30"></div>
</section>
<!-- End Work Experience Carousel-->
<!-- Start What I do Section -->
<section class="funfact_2_wrap py-5">
    <div class="about_bg filled_bg" style="background-image: url('@Url.Content("~/images/bg/about_bg_1.svg")');"></div>
    <div class="funfact_content container">
        <div class="row">
            <div class="col-lg-6">
                <div class="pr_50">
                    <div class="section_heading style_1">
                        <h2 class="section_title font_48 gradient_text_2 semi_bold">
                            What I do
                        </h2>
                    </div>
                    <div class="height_40 height_lg_30"></div>
                    <p class="white_color m-0">
                        I'm a Full Stack Web Developer with hands-on experience in designing, developing, and deploying web applications. I was formerly a visual artist, but got hooked to web development because of the combination of architectural and design creativity. If you have any questions or would like to discuss potential opportunities, please feel free to reach out.
                    </p>
                    <div class="height_25 height_lg_20"></div>
                    <div class="d-flex flex-wrap gap-2">
                        @{
                            ViewData["Href"] = "/about";
                            ViewData["Text"] = "About Me";
                        }
                        <partial name="_NavigationLink" view-data="ViewData" />
                    </div>
                </div>
                <div class="height_lg_30"></div>
            </div>
            <div class="col-lg-6">
                <div class="pl_70">
                    <div class="iconbox style_2 radius_20 transition_4">
                        <div class="iconbox_in">
                            <div class="iconbox_icon center">
                                <img src="~/images/icon/about_icon_1.svg" alt="Icon">
                            </div>
                            <div class="iconbox_info position-relative w-100">
                                <h3 class="iconbox_title font_28 medium m-0">UI/UX Implementation</h3>
                                <p class="iconbox_text">Creating responsive and user-friendly experiences.</p>
                            </div>
                        </div>
                    </div>
                    <div class="iconbox style_2 radius_20 transition_4">
                        <div class="iconbox_in">
                            <div class="iconbox_icon center">
                                <img src="~/images/icon/about_icon_2.svg" alt="Icon">
                            </div>
                            <div class="iconbox_info position-relative w-100">
                                <h3 class="iconbox_title font_28 medium m-0">Full Stack Development</h3>
                                <p class="iconbox_text">Building complete web applications from frontend interfaces to backend services.</p>
                            </div>
                        </div>
                    </div>
                    <div class="iconbox style_2 radius_20 transition_4">
                        <div class="iconbox_in">
                            <div class="iconbox_icon center">
                                <img src="~/images/icon/about_icon_3.svg" alt="Icon">
                            </div>
                            <div class="iconbox_info position-relative w-100">
                                <h3 class="iconbox_title font_28 medium m-0">Database & API Development</h3>
                                <p class="iconbox_text">Designing efficient data structures and backend systems.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Start What I do Section -->
<!-- Start Skills Section -->
@await Html.PartialAsync("_SkillsSection")
<!-- End Skills Section -->
<!--Start Contact Section-->
@{
    ViewData["Header"] = "Want to reach out?";
    ViewData["Subheader"] = "Please use the form below, or send an email to catayasericjay@gmail.com";
}
@await Html.PartialAsync("_ContactForm", ViewData)
<!--End Contact Section-->